
@font-face {
  font-family: "Peyda-th";
  src: url('../assets/fonts/Peyda/Peyda-Thin.ttf');
  
}
@font-face {
  font-family: "Peyda-rg";
  src: url("../assets/fonts/Peyda/Peyda-Regular.ttf");
}
@font-face {
  font-family: "Peyda-md";
  src: url("../assets/fonts/Peyda/Peyda-Medium.ttf");
}
@font-face {
  font-family: "Peyda-smb";
  src: url("../assets/fonts/Peyda/Peyda-Bold.ttf");
}
