@tailwind base;
@tailwind utilities;
@tailwind components;
@font-face {
  font-family: "Vazir";
  src: url("/src/font/Vazir.woff");
}
body {
  margin: 0;
  font-family: "Vazir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
